<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置Annotation的支持操作 -->
	<context:annotation-config />
	<context:component-scan base-package="cn.ustb" />
	<!-- 导入资源文件路径，直接通过classpath加载 -->
	<context:property-placeholder
		location="classpath:database.properties" />
	<!-- 使用C3P0数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.driver}" /> <!-- 驱动程序 -->
		<property name="jdbcUrl" value="${db.url}" /> <!-- 连接地址 -->
		<property name="user" value="${db.user}" /> <!-- 用户名 -->
		<property name="password" value="${db.password}" /> <!-- 密码 -->
		<property name="maxPoolSize" value="${pool.max}" /> <!-- 最大的可用连接数 -->
		<property name="minPoolSize" value="${pool.min}" /> <!-- 最小维持的连接数 -->
		<property name="initialPoolSize" value="${pool.init}" /> <!-- 初始化连接数 -->
		<property name="maxIdleTime" value="${pool.idle}" /> <!-- 最大的等待连接 -->
	</bean>
	
	<!-- 配置Hibernate的相关环境，SessionFactory可以打开Session -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 配置事务处理，所有的事务都采用AOP的方式，本处只是声明SessionFactory要进行事务控制 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 下面是事务的配置声明 -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />
	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<!-- 定义一切与服务层有关的控制方法名称，只要是使用了特定的名称，就会自动处理事务 -->
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="change*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="login*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED"
				read-only="true" />
			<tx:method name="load*" propagation="REQUIRED"
				read-only="true" />
			<tx:method name="list*" propagation="REQUIRED"
				read-only="true" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 定义事务的处理切入点 -->
	<aop:config expose-proxy="true">
		<aop:pointcut expression="execution(* cn.ustb..service.*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>