<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="cn.ustb.pojo.Address">
        <property name="address" value="北京"/>
    </bean>
    <bean id="student" class="cn.ustb.pojo.Student">
        <!-- 1、普通值注入，value -->
        <property name="name" value="SMITH"/>
        <!-- 2、Bean注入，ref -->
        <property name="address" ref="address"/>
        <!-- 3、数组注入 -->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>三国演义</value>
            </array>
        </property>
        <!-- 4、List注入 -->
        <property name="hobbies">
            <list>
                <value>编程</value>
                <value>唱歌</value>
                <value>跳舞</value>
            </list>
        </property>
        <!-- 4、Map注入 -->
        <property name="cards">
            <map>
                <entry key="身份证" value="110110111110" />
                <entry key="银行卡" value="880880888800" />
            </map>
        </property>
        <!-- 5、Set注入 -->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
        <!-- 6、null值注入 -->
        <property name="wife">
            <null/>
        </property>
        <!-- 7、Properties注入 -->
        <property name="info">
            <props>
                <prop key="jdbc.username">root</prop>
                <prop key="jdbc.password">root123</prop>
            </props>
        </property>
    </bean>
</beans>